.row {
  background-color: rgb(204, 240, 240);
  width: 300px;
  float: left;
}

.free {
  margin-left: 25%;
  margin-right: 3%;
}

.premium {
  margin-left: 3%;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.membership {
  text-align: center;
}
button {
  margin-bottom: 10px;
  background-color: #5bcfcb;
  border: 0.5px solid #317270;
}
button:hover {
  background-color: #97dece;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

.recommended {
  background-color: rgb(32, 88, 114);
  border-radius: 5px;
  margin: 10px 8px;
}

.basic {
  background-color: #396eb0;
}

li {
  margin: 5px 0;
  list-style: none;
  padding-right: 30px;
}
