* {
  box-sizing: border-box;
  margin: 0;
}
.box {
  height: 50px;
  border: 3px solid forestgreen;
  box-shadow: -5px 10px 40px rgb(79, 226, 226);
  transition: box-shadow 1s;
  margin: 25px;
  padding: 10px;
}

.navbar {
  background-color: aqua;
}
.content {
  background-color: aquamarine;
}
.footer {
  background-color: cadetblue;
  position: absolute;
  bottom: 0;
  margin: 0;
  width: 100%;
  text-align: center;
}

.box:hover {
  background-color: rgb(186, 235, 186);
  box-shadow: -5px 10px 40px rgb(54, 88, 88);
  transition: box-shadow 1s;
  transition: background-color 1s;
}
