* {
  margin: 0;
}

.c1 {
  margin: 20px 20px 50px 20px;
  /* Saat yönünün de: top, right, bottom, left*/
  /*Üstten alttan ve sağdan soldan için ik değer verilir: .
    margin: 20px 30 px; gibi*/
}

.c2 {
  margin: auto;
  width: 250px;
}

h1 {
  background-color: aquamarine;
}
