li {
  list-style: none;
  display: inline-block;
  border: 3px solid green;
  width: 200px;
  text-align: center;
}
a {
  text-decoration: none;
}

a:link {
  color: tomato;
}
a:visited {
  color: rgb(0, 0, 0);
}
li:hover {
  color: blueviolet;
  background-color: chartreuse;
  font-style: italic;
}

p {
  display: none;
  box-sizing: border-box;
}

section {
  margin: 40px;
}

section:hover div p {
  display: block;
}
